<div class="_container">
  <div
    class="text-[12px] leading-[13px] sm:text-[14px] sm:leading-[15px] border-[1px] text-red border-red-dark border-solid p-[5px] sm:p-[10px] mb-[5px] sm:mb-[10px]">
    <h2 class="mb-[5px] sm:mb-[15px] font-bold">Available Escorts in the Cities:</h2>

    <div>
      <a class="text-red underline" href="#">5 Tips for Being an Escorts Favorite Customer</a>&nbsp;
      <a class="text-red underline" href="#">The REAL Central London Escorts!</a>&nbsp;
      <a class="text-red underline" href="#">The Top Fast Food Places to Take Your Escort Date to Dinner in the
        USA</a>&nbsp;
      <a class="text-red underline" href="#">Why American Business Men Are Using Escort Services in the
        USA</a>&nbsp;
      <a class="text-red underline" href="#">Sex Sells and Men Continue To Pay For It</a>&nbsp;
      <a class="text-red underline" href="#">How to Get the Most from Your Date with an Escort in America</a>&nbsp;
      <a class="text-red underline" href="#">What every man should know about dating an escort girl</a>&nbsp;
      <a class="text-red underline" href="#">Sexy Games to Spice Up a Date</a>&nbsp;
      <a class="text-red underline" href="#">Sex in public or where to get naughty without ending up in
        jail</a>&nbsp;
      <a class="text-red underline" href="#">Dirty things your girlfriend wants you to try now</a>&nbsp;
      <a class="text-red underline" href="#">Improve your Sex Life Sexual Fantasies to Try</a>&nbsp;
      <a class="text-red underline" href="#">Sex tips all couples in long-term relationship should know
        about</a>&nbsp; <a class="text-red underline" href="#">Finding the third partner for a perfect
        threesome</a>&nbsp;
      <a class="text-red underline" href="#">Best Songs to Add to Your Sex
        Playlist</a>&nbsp;
      <a class="text-red underline" href="#">Top Sexy Lingerie Pieces</a>&nbsp;
      <a class="text-red underline" href="#">Interesting sex facts you probably did not know about</a>&nbsp;
      <a class="text-red underline" href="#">Increase the desire of your partner intimate things to try</a>&nbsp;
      <a class="text-red underline" href="#">Sex Moves That She Will Love</a>&nbsp;
      <a class="text-red underline" href="#">Buying her first sex toy Heres what you should know</a>&nbsp;
      <a class="text-red underline" href="#">How to share your sex fantasies without breaking up</a>&nbsp;
      <a class="text-red underline" href="#">Spicing things up in the bedroom</a>&nbsp;
      <a class="text-red underline" href="#">Top five movies about escorts</a>&nbsp;
      <a class="text-red underline" href="#">Roll up the
        partition and enjoy Beyoncs sexiest song.</a>&nbsp;
      <a class="text-red underline" href="#">Aren't you just
        waiting to enact these scenarios?</a>&nbsp;
      <a class="text-red underline" href="#">How to turn a "No" into a
        "Yes, please!"</a>&nbsp;
      <a class="text-red underline" href="#">Why are escorts so popular among
        men?</a>&nbsp;
      <a class="text-red underline" href="#">Top 5 - Sexiest Banned Commercials</a>&nbsp;
    </div>
  </div>
</div>