<div class="_container">
  <div
    class="text-[12px] leading-[13px] sm:text-[14px] sm:leading-[15px] border-[1px] text-red border-red-dark border-solid p-[5px] sm:p-[10px] mb-[5px] sm:mb-[10px]">
    <h3 class="mb-[5px] sm:mb-[15px] font-bold">Available Escorts in the Cities: </h3>

    <div class="text-red mb-[5px] sm:mb-[15px]">
      <a class="text-red" href="#">Amsterdam</a>,
      <a class="text-black" href="#">Rotterdam</a>,
      <a class="text-black" href="#">Utrecht</a>,
      <a class="text-black" href="#">Haarlem</a>,
      <a class="text-red" href="#">Berlin</a>,
      <a class="text-black" href="#">Munich</a>,
      <a class="text-black" href="#">Hamburg</a>,
      <a class="text-red" href="#">Frankfurt</a>,
      <a class="text-black" href="#">Cologne</a>,
      <a class="text-black" href="#">Düsseldorf</a>,
      <a class="text-red" href="#">London</a>,
      <a class="text-black" href="#">Manchester</a>,
      <a class="text-black" href="#">Birmingham</a>,
      <a class="text-black" href="#">Glasgow</a>,
      <a class="text-red" href="#">Liverpool</a>,
      <a class="text-black" href="#">Bristol</a>,
      <a class="text-black" href="#">Oxford</a>,
      <a class="text-red" href="#">Paris</a>,
      <a class="text-black" href="#">Milan</a>,
      <a class="text-black" href="#">Abu Dhabi</a>,
      <a class="text-black" href="#">Dubai</a>,
      <a class="text-black" href="#">Albuquerque</a>,
      <a class="text-black" href="#">Allentown</a>,
      <a class="text-black" href="#">Archway</a>,
      <a class="text-black" href="#">Arcola</a>,
      <a class="text-black" href="#">Asheville</a>,
      <a class="text-red" href="#">Atlanta</a>,
      <a class="text-red" href="#">Austin</a>,
      <a class="text-black" href="#">Aventura</a>,
      <a class="text-black" href="#">Baldwin</a>,
      <a class="text-black" href="#">Baltimore</a>,
      <a class="text-black" href="#">Bayonne</a>,
      <a class="text-black" href="#">Bayswater</a>,
      <a class="text-black" href="#">Beckley</a>,
      <a class="text-black" href="#">Bedford</a>,
      <a class="text-black" href="#">Bellingham</a>,
      <a class="text-black" href="#">Beverly Hills</a>,
      <a class="text-red" href="#">Birmingham</a>,
      <a class="text-black" href="#">Blackburn</a>,
      <a class="text-black" href="#">Bloomington</a>,
      <a class="text-black" href="#">Boca Raton</a>,
      <a class="text-black" href="#">Bolton</a>,
      <a class="text-red" href="#">Boston</a>,
      <a class="text-black" href="#">Bournemouth</a>,
      <a class="text-black" href="#">Bozeman</a>,
      <a class="text-black" href="#">Bradford</a>,
      <a class="text-black" href="#">Brighton</a>,
      <a class="text-red" href="#">Bristol</a>,
      <a class="text-black" href="#">Bromley</a>,
      <a class="text-black" href="#">Bronx</a>,
      <a class="text-black" href="#">Brooklyn</a>,
      <a class="text-red" href="#">Burton-on-Trent</a>,
      <a class="text-red" href="#">Cambridge</a>,
      <a class="text-black" href="#">Canary Wharf</a>,
      <a class="text-black" href="#">Canterbury</a>,
      <a class="text-red" href="#">Cardiff</a>,
      <a class="text-black" href="#">Carson City</a>,
      <a class="text-black" href="#">Catonsville</a>,
      <a class="text-black" href="#">Charleston</a>,
      <a class="text-black" href="#">Charlotte</a>,
      <a class="text-black" href="#">Chelmsford</a>,
      <a class="text-red" href="#">Chelsea</a>,
      <a class="text-black" href="#">Chester</a>,
      <a class="text-red" href="#">Chicago</a>,
      <a class="text-black" href="#">Cincinnati</a>,
      <a class="text-black" href="#">Clarksville</a>,
      <a class="text-black" href="#">Clerkenwell</a>,
      <a class="text-black" href="#">Cleveland</a>,
      <a class="text-black" href="#">Colchester</a>,
      <a class="text-red" href="#">Colorado Springs</a>,
      <a class="text-black" href="#">Columbia</a>,
      <a class="text-black" href="#">Columbus</a>,
      <a class="text-black" href="#">Covent Garden</a>,
      <a class="text-red" href="#">Coventry</a>,
      <a class="text-black" href="#">Crawley</a>,
      <a class="text-black" href="#">Croydon</a>,
      <a class="text-red" href="#">Dallas</a>,
      <a class="text-black" href="#">Daytona Beach</a>,
      <a class="text-black" href="#">Decatur</a>,
      <a class="text-black" href="#">Dedham</a>,
      <a class="text-red" href="#">Denver</a>,
      <a class="text-black" href="#">Derby</a>,
      <a class="text-black" href="#">Desmoines</a>,
      <a class="text-red" href="#">Detroit</a>,
      <a class="text-black" href="#">Dover</a>,
      <a class="text-black" href="#">Downham</a>,
      <a class="text-black" href="#">Dunfermline</a>,
      <a class="text-black" href="#">Earls Court</a>,
      <a class="text-black" href="#">Eastbourne</a>,
      <a class="text-red" href="#">Edinburgh</a>,
      <a class="text-black" href="#">Emeryville</a>,
      <a class="text-red" href="#">Essex</a>,
      <a class="text-black" href="#">Everett</a>,
      <a class="text-black" href="#">Fort Lauderdale</a>,
      <a class="text-black" href="#">Fresno</a>,
      <a class="text-red" href="#">Gatwick</a>,
      <a class="text-red" href="#">Glasgow</a>,
      <a class="text-black" href="#">Glendale</a>,
      <a class="text-black" href="#">Golders Green</a>,
      <a class="text-black" href="#">Great Yarmouth</a>,
      <a class="text-black" href="#">Great Yarmouth Colchester</a>,
      <a class="text-black" href="#">Greensboro</a>,
      <a class="text-black" href="#">Greenville</a>,
      <a class="text-black" href="#">Greenwich</a>,
      <a class="text-black" href="#">Guildford</a>,
      <a class="text-black" href="#">Hampshire</a>,
      <a class="text-black" href="#">Haringey</a>,
      <a class="text-black" href="#">Harlow</a>,
      <a class="text-black" href="#">Harrisburg</a>,
      <a class="text-black" href="#">Harrogate</a>,
      <a class="text-black" href="#">Harrow</a>,
      <a class="text-black" href="#">Hereford</a>,
      <a class="text-black" href="#">Holborn</a>,
      <a class="text-red" href="#">Hollywood</a>,
      <a class="text-black" href="#">Homestead</a>,
      <a class="text-red" href="#">Houston</a>,
      <a class="text-black" href="#">Huddersfield</a>,
      <a class="text-black" href="#">Huntingdon</a>,
      <a class="text-black" href="#">Huntsville</a>,
      <a class="text-black" href="#">Ilford</a>,
      <a class="text-black" href="#">Independence</a>,
      <a class="text-red" href="#">Indianapolis</a>,
      <a class="text-black" href="#">Inverness</a>,
      <a class="text-black" href="#">Ipswich</a>,
      <a class="text-black" href="#">Irmo</a>,
      <a class="text-black" href="#">Irvine</a>,
      <a class="text-black" href="#">Islington</a>,
      <a class="text-black" href="#">Jacksonville</a>,
      <a class="text-black" href="#">Jersey City</a>,
      <a class="text-red" href="#">Kansas City</a>,
      <a class="text-black" href="#">Kensington</a>,
      <a class="text-red" href="#">Kent</a>,
      <a class="text-black" href="#">Kidderminster</a>,
      <a class="text-black" href="#">Kilmarnock</a>,
      <a class="text-black" href="#">Kings Lynn</a>,
      <a class="text-black" href="#">Knebworth</a>,
      <a class="text-black" href="#">Knightsbridge</a>,
      <a class="text-black" href="#">Laguna Woods</a>,
      <a class="text-black" href="#">Lake City</a>,
      <a class="text-black" href="#">Lake Worth</a>,
      <a class="text-black" href="#">Lakewood</a>,
      <a class="text-black" href="#">Lancaster</a>,
      <a class="text-black" href="#">Lansing</a>,
      <a class="text-red" href="#">Las Vegas</a>,
      <a class="text-red" href="#">Leeds</a>,
      <a class="text-red" href="#">Leicester</a>,
      <a class="text-black" href="#">Lexington</a>,
      <a class="text-black" href="#">Leytonstone</a>,
      <a class="text-black" href="#">Lithonia</a>,
      <a class="text-black" href="#">Little Rock</a>,
      <a class="text-black" href="#">Liverpool</a>,
      <a class="text-red" href="#">London</a>,
      <a class="text-black" href="#">Long Beach</a>,
      <a class="text-red" href="#">Los Angeles</a>,
      <a class="text-red" href="#">Louisville</a>,
      <a class="text-red" href="#">Luton</a>,
      <a class="text-black" href="#">Lynnwood</a>,
      <a class="text-black" href="#">Madison</a>,
      <a class="text-red" href="#">Manchester</a>,
      <a class="text-red" href="#">Manhattan</a>,
      <a class="text-black" href="#">Mansfield</a>,
      <a class="text-black" href="#">Margate</a>,
      <a class="text-black" href="#">Medford</a>,
      <a class="text-black" href="#">Melbourne</a>,
      <a class="text-red" href="#">Memphis</a>,
      <a class="text-red" href="#">Miami</a>,
      <a class="text-black" href="#">Middlesbrough</a>,
      <a class="text-black" href="#">Midlothian</a>,
      <a class="text-black" href="#">Milton Keynes</a>,
      <a class="text-black" href="#">Milwaukee</a>,
      <a class="text-black" href="#">Minneapolis</a>,
      <a class="text-black" href="#">Mobile</a>,
      <a class="text-black" href="#">Montgomery</a>,
      <a class="text-black" href="#">Moorhead</a>,
      <a class="text-black" href="#">Moreno Valley</a>,
      <a class="text-black" href="#">Myrtle Beach</a>,
      <a class="text-black" href="#">Naples</a>,
      <a class="text-black" href="#">Nashville</a>,
      <a class="text-black" href="#">New Orleans</a>,
      <a class="text-red" href="#">New York</a>,
      <a class="text-red" href="#">Newcastle upon Tyne</a>,
      <a class="text-black" href="#">Norfolk</a>,
      <a class="text-black" href="#">Northampton</a>,
      <a class="text-black" href="#">Norwich</a>,
      <a class="text-black" href="#">Nottingham</a>,
      <a class="text-black" href="#">Oakland</a>,
      <a class="text-black" href="#">Ocala</a>,
      <a class="text-red" href="#">Oklahoma City</a>,
      <a class="text-black" href="#">Omaha</a>,
      <a class="text-red" href="#">Orlando</a>,
      <a class="text-red" href="#">Oxford</a>,
      <a class="text-black" href="#">Palm Beach</a>,
      <a class="text-black" href="#">Palm Springs</a>,
      <a class="text-black" href="#">Pensacola</a>,
      <a class="text-red" href="#">Philadelphia</a>,
      <a class="text-red" href="#">Phoenix</a>,
      <a class="text-black" href="#">Pittsburgh</a>,
      <a class="text-black" href="#">Plymouth</a>,
      <a class="text-black" href="#">Portland</a>,
      <a class="text-black" href="#">Portsmouth</a>,
      <a class="text-black" href="#">Preston</a>,
      <a class="text-black" href="#">Providence</a>,
      <a class="text-black" href="#">Raleigh</a>,
      <a class="text-black" href="#">Reading</a>,
      <a class="text-black" href="#">Richmond</a>,
      <a class="text-black" href="#">Rochester</a>,
      <a class="text-black" href="#">Sacramento</a>,
      <a class="text-black" href="#">Salt Lake City</a>,
      <a class="text-black" href="#">San Antonio</a>,
      <a class="text-black" href="#">San Diego</a>,
      <a class="text-black" href="#">San Francisco</a>,
      <a class="text-black" href="#">San Jose</a>,
      <a class="text-black" href="#">Santa Fe</a>,
      <a class="text-black" href="#">Savannah</a>,
      <a class="text-black" href="#">Seattle</a>,
      <a class="text-black" href="#">Sheffield</a>,
      <a class="text-black" href="#">Shoreditch</a>,
      <a class="text-black" href="#">Shrewsbury</a>,
      <a class="text-black" href="#">Southampton</a>,
      <a class="text-black" href="#">Southend</a>,
      <a class="text-black" href="#">Southport</a>,
      <a class="text-black" href="#">St. Louis</a>,
      <a class="text-black" href="#">St. Paul</a>,
      <a class="text-black" href="#">St. Petersburg</a>,
      <a class="text-black" href="#">Stoke-on-Trent</a>,
      <a class="text-black" href="#">Stockport</a>,
      <a class="text-black" href="#">Stockton</a>,
      <a class="text-black" href="#">Sunderland</a>,
      <a class="text-black" href="#">Swansea</a>,
      <a class="text-black" href="#">Swindon</a>,
      <a class="text-black" href="#">Tallahassee</a>,
      <a class="text-black" href="#">Tampa</a>,
      <a class="text-black" href="#">Taunton</a>,
      <a class="text-black" href="#">Telford</a>,
      <a class="text-black" href="#">Tucson</a>,
      <a class="text-black" href="#">Tulsa</a>,
      <a class="text-black" href="#">Tyler</a>,
      <a class="text-black" href="#">Wakefield</a>,
      <a class="text-black" href="#">Walsall</a>,
      <a class="text-black" href="#">Warrington</a>,
      <a class="text-black" href="#">Washington DC</a>,
      <a class="text-black" href="#">Waterloo</a>,
      <a class="text-black" href="#">Wellington</a>,
      <a class="text-black" href="#">West Bromwich</a>,
      <a class="text-black" href="#">Westminster</a>,
      <a class="text-black" href="#">Wichita</a>,
      <a class="text-black" href="#">Wigan</a>,
      <a class="text-black" href="#">Wilmington</a>,
      <a class="text-black" href="#">Wimbledon</a>,
      <a class="text-black" href="#">Winchester</a>,
      <a class="text-black" href="#">Windsor</a>,
      <a class="text-black" href="#">Woking</a>,
      <a class="text-black" href="#">Wolverhampton</a>,
      <a class="text-black" href="#">Worcester</a>,



    </div>

    <h3 class="mb-[5px] sm:mb-[15px] font-bold">Available Escorts in the Countries:
    </h3>

    <div class="text-red mb-[5px] sm:mb-[15px] font-bold">
      <a class="text-red" href="#">Australia</a>,
      <a class="text-red" href="#">Austria</a>,
      <a class="text-red" href="#">Belgium</a>,
      <a class="text-red" href="#">Bulgaria</a>,
      <a class="text-red" href="#">Canada</a>,
      <a class="text-red" href="#">Croatia</a>,
      <a class="text-red" href="#">Cyprus</a>,
      <a class="text-red" href="#">Czech Republic</a>,
      <a class="text-red" href="#">Denmark</a>,
      <a class="text-red" href="#">Finland</a>,
      <a class="text-red" href="#">France</a>,
      <a class="text-red" href="#">Germany</a>,
      <a class="text-red" href="#">Greece</a>,
      <a class="text-red" href="#">Hungary</a>,
      <a class="text-red" href="#">Ireland</a>,
      <a class="text-red" href="#">Italy</a>,
      <a class="text-red" href="#">Luxembourg</a>,
      <a class="text-red" href="#">Malta</a>,
      <a class="text-red" href="#">Netherlands</a>,
      <a class="text-red" href="#">Poland</a>,
      <a class="text-red" href="#">Portugal</a>,
      <a class="text-red" href="#">Romania</a>,
      <a class="text-red" href="#">Slovakia</a>,
      <a class="text-red" href="#">Slovenia</a>,
      <a class="text-red" href="#">Spain</a>,
      <a class="text-red" href="#">Sweden</a>,
      <a class="text-red" href="#">Switzerland</a>,
      <a class="text-red" href="#">United Arab Emirates</a>,
      <a class="text-red" href="#">United Kingdom</a>,
      <a class="text-red" href="#">United States</a>.
    </div>

    <div class="flex justify-end">
      <a class="text-blue underline" href="#">search escorts in your area</a>
    </div>

  </div>
</div>