<div class="_container">
  <div
    class="flex flex-col sm:flex-row items-center gap-y-2 gap-x-4 text-[12px] leading-[13px] border-[1px] border-solid border-red p-2 mb-[15px]">
    <div class="w-full max-w-[32px]">
      <img src="./img/eigtheen_confrim.gif" alt="">
    </div>

    <p class="font-bold">By visiting this website, you agree that you are aged 18 or older. Should you decide to hire an
      escort
      from this
      website, you will be paying for the escort’s time and company only. Implications of any services other than this
      are
      not guarantees of such services. Anything else that happens during time together is the result of independent
      decisions between consenting adults.
    </p>

  </div>
</div>