<div class="pb-[20px]">
  <h2 class="font-times text-[17px] leading-[19px] text-center font-bold mb-[20px]">
    Featured Escorts in Amsterdam, Berlin,
    Frankfurt,
    London, United
    Kingdom, Germany, Netherlands
  </h2>

  <div class="flex items-center relative px-10">
    <button class="featured-slider-prev cursor-pointer absolute left-0 top-1/4 w-[32px] h-[32px] bg-transparent group">
      <div
        class="w-full h-full bg-[url('../img/featured/prev-horizontal.png')] bg-no-repeat bg-[0 0] group-hover:bg-[-32px] group-active:bg-[-64px] group-[.swiper-button-disabled]:bg-[-96px]">
      </div>
    </button>

    <div class="featured-slider swiper w-full">
      <div class="swiper-wrapper">
        <div class="swiper-slide pb-[4px]">
          <a href="#"
            class="relative block border-[1px] border-solid border-gray-light p-[3px] mb-[10px] min-h-[198px]">
            <div class="w-full">
              <div class="absolute w-full max-w-[46px] left-[3px] top-[3px]">
                <img src="./img/featured/vip6.png" alt="">
              </div>
              <img class="w-full" src="./img/featured/slide-1.jpg" alt="">

              <div class="absolute w-full max-w-[32px] right-[5px] bottom-[13px]">
                <img src="./img/featured/very.png" alt="">
              </div>
            </div>
          </a>

          <a href="#" class="text-center block font-bold text-red-dark text-[12px] leading-[14px] mb-[4px]]">
            Aura Escort
          </a>

          <p class="text-center text-[12px] leading-[16px] text-gray-dark">
            (Escort Agency)
            <br>
            7 Escort Profiles
            Germany
          </p>
        </div>
        <div class="swiper-slide">
          <a href="#"
            class="relative block border-[1px] border-solid border-gray-light p-[3px] mb-[10px] min-h-[198px]">
            <div class="w-full">
              <div class="absolute w-full max-w-[46px] left-[3px] top-[3px]">
                <img src="./img/featured/vip6.png" alt="">
              </div>
              <img class="w-full" src="./img/featured/slide-2.jpg" alt="">

              <div class="absolute w-full max-w-[32px] right-[5px] bottom-[13px]">
                <img src="./img/featured/very.png" alt="">
              </div>
            </div>
          </a>

          <a href="#" class="text-center block font-bold text-red-dark text-[12px] leading-[14px] mb-[4px]]">
            All Stars Escorts London
          </a>

          <p class="text-center text-[12px] leading-[16px] text-gray-dark">
            (Escort Agency)
            <br>
            60 Escort Profiles
            United Kingdom
          </p>
        </div>
        <div class="swiper-slide">
          <a href="#"
            class="relative block border-[1px] border-solid border-gray-light p-[3px] mb-[10px] min-h-[198px]">
            <div class="w-full">
              <div class="absolute w-full max-w-[46px] left-[3px] top-[3px]">
                <img src="./img/featured/vip6.png" alt="">
              </div>
              <img class="w-full" src="./img/featured/slide-3.jpg" alt="">

              <div class="absolute w-full max-w-[32px] right-[5px] bottom-[13px]">
                <img src="./img/featured/very.png" alt="">
              </div>
            </div>
          </a>

          <a href="#" class="text-center block font-bold text-red-dark text-[12px] leading-[14px] mb-[4px]]">
            Save the Date Escort
          </a>

          <p class="text-center text-[12px] leading-[16px] text-gray-dark">
            (Escort Agency)
            <br>
            12 Escort Profiles
            Germany
          </p>
        </div>
        <div class="swiper-slide">
          <a href="#"
            class="relative block border-[1px] border-solid border-gray-light p-[3px] mb-[10px] min-h-[198px]">
            <div class="w-full">
              <div class="absolute w-full max-w-[46px] left-[3px] top-[3px]">
                <img src="./img/featured/vip6.png" alt="">
              </div>
              <img class="w-full" src="./img/featured/slide-4.jpg" alt="">

              <div class="absolute w-full max-w-[32px] right-[5px] bottom-[13px]">
                <img src="./img/featured/very.png" alt="">
              </div>
            </div>
          </a>

          <a href="#" class="text-center block font-bold text-red-dark text-[12px] leading-[14px] mb-[4px]]">
            Beauty Escorts Amsterdam
          </a>

          <p class="text-center text-[12px] leading-[16px] text-gray-dark">
            (Escort Agency)
            <br>
            10 Escort Profiles
            Netherlands
          </p>
        </div>
        <div class="swiper-slide">
          <a href="#"
            class="relative block border-[1px] border-solid border-gray-light p-[3px] mb-[10px] min-h-[198px]">
            <div class="w-full">
              <div class="absolute w-full max-w-[46px] left-[3px] top-[3px]">
                <img src="./img/featured/vip6.png" alt="">
              </div>
              <img class="w-full" src="./img/featured/slide-5.jpg" alt="">

              <div class="absolute w-full max-w-[32px] right-[5px] bottom-[13px]">
                <img src="./img/featured/very.png" alt="">
              </div>
            </div>
          </a>

          <a href="#" class="text-center block font-bold text-red-dark text-[12px] leading-[14px] mb-[4px]]">
            Babylon Girls
          </a>

          <p class="text-center text-[12px] leading-[16px] text-gray-dark">
            (Escort Agency)
            <br>
            91 Escort Profiles
            United Kingdom
          </p>
        </div>
        <div class="swiper-slide">
          <a href="#"
            class="relative block border-[1px] border-solid border-gray-light p-[3px] mb-[10px] min-h-[198px] ">
            <div class="w-full">
              <div class="absolute w-full max-w-[46px] left-[3px] top-[3px]">
                <img src="./img/featured/vip6.png" alt="">
              </div>
              <img class="w-full" src="./img/featured/slide-6.jpg" alt="">

              <div class="absolute w-full max-w-[32px] right-[5px] bottom-[13px]">
                <img src="./img/featured/very.png" alt="">
              </div>
            </div>
          </a>

          <a href="#" class="text-center block font-bold text-red-dark text-[12px] leading-[14px] mb-[4px]]">
            Sandra
          </a>

          <p class="text-center text-[12px] leading-[16px] text-gray-dark">
            (Independent Escort)
            <br>
            United Kingdom
          </p>
        </div>
        <div class="swiper-slide">
          <a href="#"
            class="relative block border-[1px] border-solid border-gray-light p-[3px] mb-[10px] min-h-[198px] ">
            <div class="w-full">
              <div class="absolute w-full max-w-[46px] left-[3px] top-[3px]">
                <img src="./img/featured/vip6.png" alt="">
              </div>
              <img class="w-full" src="./img/featured/slide-7.jpg" alt="">

              <div class="absolute w-full max-w-[32px] right-[5px] bottom-[13px]">
                <img src="./img/featured/very.png" alt="">
              </div>
            </div>
          </a>

          <a href="#" class="text-center block font-bold text-red-dark text-[12px] leading-[14px] mb-[4px]]">
            Amsterdam Escorts
          </a>

          <p class="text-center text-[12px] leading-[16px] text-gray-dark">
            (Escort Agency)
            <br>
            24 Escort Profiles
            Netherlands
          </p>
        </div>
        <div class="swiper-slide">
          <a href="#"
            class="relative block border-[1px] border-solid border-gray-light p-[3px] mb-[10px] min-h-[198px] ">
            <div class="w-full">
              <div class="absolute w-full max-w-[46px] left-[3px] top-[3px]">
                <img src="./img/featured/vip6.png" alt="">
              </div>
              <img class="w-full" src="./img/featured/slide-8.jpg" alt="">

              <div class="absolute w-full max-w-[32px] right-[5px] bottom-[13px]">
                <img src="./img/featured/very.png" alt="">
              </div>
            </div>
          </a>

          <a href="#" class="text-center block font-bold text-red-dark text-[12px] leading-[14px] mb-[4px]]">
            Sweet Passion Escort
          </a>

          <p class="text-center text-[12px] leading-[16px] text-gray-dark">
            (Escort Agency)
            <br>
            100 Escort Profiles
            Germany
          </p>
        </div>
        <div class="swiper-slide">
          <a href="#"
            class="relative block border-[1px] border-solid border-gray-light p-[3px] mb-[10px] min-h-[198px] ">
            <div class="w-full">
              <div class="absolute w-full max-w-[46px] left-[3px] top-[3px]">
                <img src="./img/featured/vip6.png" alt="">
              </div>
              <img class="w-full" src="./img/featured/slide-9.jpg" alt="">

              <div class="absolute w-full max-w-[32px] right-[5px] bottom-[13px]">
                <img src="./img/featured/very.png" alt="">
              </div>
            </div>
          </a>

          <a href="#" class="text-center block font-bold text-red-dark text-[12px] leading-[14px] mb-[4px]]">
            Amorette International
          </a>

          <p class="text-center text-[12px] leading-[16px] text-gray-dark">
            (Escort Agency)
            <br>
            16 Escort Profiles
            Germany
          </p>
        </div>

      </div>
    </div>

    <button class="featured-slider-next cursor-pointer absolute right-0 top-1/4 w-[32px] h-[32px] bg-transparent group">
      <div
        class="w-full h-full bg-[url('../img/featured/next-horizontal.png')] bg-no-repeat bg-[0 0] group-hover:bg-[-32px] group-active:bg-[-64px] group-[.swiper-button-disabled]:bg-[-96px]">
      </div>
    </button>
  </div>
</div>