<footer class="bg-black">
  <nav
    class="flex flex-wrap items-center gap-1 text-[#B5B5B5] text-[12px] leading-[13px] font-bold py-[6px] sm:py-[10px] px-2 sm:px-5 bg-[url('../img/footer/footer-topbg.gif')] bg-[auto_100%] bg-repeat-x">
    <a href="#" class="underline text-white">Register Now</a> |
    <a href="#" class="underline text-white">Advertise</a> |
    <a href="#" class="underline text-white">Blog</a> |
    <a href="#" class="underline text-white">2257 Statement</a> |
    <a href="#" class="underline text-white">Contact Us</a> |
    <a href="#" class="underline text-white">Privacy Policy</a> |
    <a href="#" class="underline text-white">Refund Policy</a> |
    <a href="#" class="underline text-white">Terms and Conditions</a> |
    <a href="#" class="underline text-white">Our Banners</a> |
    <a href="#" class="underline text-white">Links</a>
  </nav>

  <nav
    class="flex flex-wrap items-center justify-between gap-1 text-[12px] leading-[13px] text-white py-[6px] sm:py-[10px] px-2 sm:px-5 bg-[url('../img/footer/footer-topbg.gif')] bg-[auto_100%] bg-repeat-x">
    <p>Technical support: support@avaescorts.com </p>

    <p class="text-[11px]">© 2025 Avaescorts.com. - All Rights Reserved.</p>
  </nav>

  <div class="my-2 px-1 sm:my-5 flex justify-center items-center gap-x-2 sm:gap-x-3">
    <div class="w-full max-w-[100px]">
      <img class="w-full" src="./img/footer/HT.jpg" alt="">
    </div>

    <p class="text-white text-[12px] leading-[13px]">Avaescorts.com against human trafficking! <br
        class="hidden sm:block" />
      If you or someone you know needs help please contact <a href="https://www.trafficking.help/"
        class="underline text-white">https://www.trafficking.help/</a>
    </p>
  </div>

  <div class="flex justify-between flex-wrap gap-2 px-2 sm:px-4 pb-2 sm:pb-4">
    <p class="text-white w-full max-w-[660px] text-[11px] leading-[13px]">
      Avaescorts.com's sole aim is to provide a worldwide directory of Independent escorts and agencies. A simple
      service that brings escorts and clients together with direct contact details provided. The service is absolutely
      free for clients and sustains itself by charging escorts and agencies a fee to be listed. The majority of income
      is invested straight back into the service, mainly for marketing, improving the service (both for clients and
      escorts) and administration of the system.
    </p>

    <div class="w-full max-w-[190px]">
      <img class="w-full" src="./img/footer/logo.png" alt="">
    </div>
  </div>
</footer>