<header class="py-2 mb-[5px] sm:mb-[20px] _container">
  <div class="flex justify-between items-center mb-2">
    <div class="w-full max-w-[262px]">
      <img class="w-full" src="./img/header/logo.png" alt="Logo">
    </div>

    <div class="hidden md:block w-full max-w-[468px]">
      <img class="w-full" src="./img/header/468x60Legendary.jpg" alt="468x60Legendary">
    </div>
  </div>

  <div data-spollers="769,max" class="bg-[url('../img/header/nav-bg.jpg')] bg-[auto_100%] bg-repeat-x mb-2">
    <button data-spoller class="text-white md:hidden bg-transparent text-[18px] text-center py-2 w-full">Menu</button>
    <div>
      <nav
        class="flex flex-col md:flex-row flex-wrap mb-2 items-center font-semibold text-[10px] leading-[12px] lg:text-[12px] lg:leading-[14px]">
        <div
          class="w-full group relative cursor-pointer uppercase border-r-[1px] border-r-pink-dark py-2 px-[14px] text-white  hover:bg-black">
          <span class="block w-full text-center">Reg</span>

          <ul
            class="z-50 transition-hover opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto absolute top-full left-0 whitespace-nowrap">
            <li>
              <a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">
                Register as a General User/Visitor
              </a>
            </li>
            <li>
              <a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">
                Register as an Independent Escort
              </a>
            </li>
            <li>
              <a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">
                Register as an Agency
              </a>
            </li>
          </ul>
        </div>

        <a href="#"
          class="block w-full text-center uppercase border-r-[1px] border-r-pink-dark py-2 px-[14px] text-white  hover:bg-black">
          New
        </a>

        <div
          class="w-full group relative cursor-pointer uppercase border-r-[1px] border-r-pink-dark py-2 px-[14px] text-white  hover:bg-black">
          <span class="block w-full text-center">All</span>

          <ul
            class="z-50 transition-hover opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto absolute top-full left-0 whitespace-nowrap">
            <li><a href="#" title="A to Z Escorts"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">A
                to Z Escorts</a></li>
            <li><a href="#" title="Independent Escorts"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Independent
                Escorts</a></li>
            <li><a href="#" title="Agencies Escorts"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Escorts
                from Agencies</a></li>
            <li><a href="#" title="USA Escorts"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">USA
                Escorts</a></li>
            <li><a href="#" title="UK Escorts"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">UK
                Escorts</a></li>
            <li><a href="#" title="Germany Escorts"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Germany
                Escorts</a></li>
            <li><a href="#" title="Netherlands Escorts"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Netherlands
                Escorts</a></li>
            <li><a href="#" title="Male Escorts"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Male
                Escorts</a></li>
            <li><a href="#" title="Female Escorts"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Female
                Escorts</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">High
                Class</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Fetish
                Escorts</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Blonde
                Escorts</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Brunette
                Escorts</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Oriental
                Escorts</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">BBW
                Escorts</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Black
                Escorts</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Mature
                Escorts</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Latino
                Escorts</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">English
                Escorts</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">Busty
                Escorts</a></li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">TV/TS</a>
            </li>
            <li><a href="#"
                class="block py-1 px-[10px] normal-case text-white bg-[#000F1A] border-b-[1px] border-[#333F48] border-solid transition-colors hover:bg-red-dark">BDSM
                Escorts</a></li>
          </ul>

        </div>


        <a href="#"
          class="block w-full text-center uppercase border-r-[1px] border-r-pink-dark py-2 px-[14px] text-white  hover:bg-black">
          AGENCS
        </a>

        <a href="#"
          class="block w-full text-center uppercase border-r-[1px] border-r-pink-dark py-2 px-[14px] text-yellow hover:bg-black">
          Agency Allure
        </a>

        <a href="#"
          class="block w-full text-center uppercase border-r-[1px] border-r-pink-dark py-2 px-[14px] text-yellow hover:bg-black">
          Mavrin Sugar Babes
        </a>

        <a href="#"
          class="block w-full text-center uppercase border-r-[1px] border-r-pink-dark py-2 px-[14px] text-yellow hover:bg-black">
          Top Companions
        </a>

        <a href="#"
          class="block w-full text-center uppercase border-r-[1px] border-r-pink-dark py-2 px-[14px] text-yellow hover:bg-black">
          Live Sex
        </a>

        <a href="#"
          class="block w-full text-center uppercase border-r-[1px] border-r-pink-dark py-2 px-[14px] text-yellow hover:bg-black">
          Blog
        </a>

        <a href="#"
          class="block w-full text-center uppercase border-r-[1px] border-r-pink-dark py-2 px-[14px] text-white  hover:bg-black">
          Ad
        </a>

        <a href="#"
          class="block w-full text-center uppercase border-r-[1px] border-r-pink-dark py-2 px-[14px] text-white  hover:bg-black">
          Log
        </a>
      </nav>
    </div>
  </div>

  <div class="flex flex-wrap justify-center gap-x-[5px] gap-y-[6px] mb-[6px] text-[12px] leading-[14px] font-bold">
    <a href="#" class="text-red">Rachaels London Escorts</a>
    <a href="#" class="text-red">Escort Amsterdam</a>
    <a href="#" class="text-red">Den Haag Escort</a>
    <a href="#" class="text-red">Escort Rotterdam</a>
    <a href="#" class="text-red">London escorts</a>
    <a href="#" class="text-red">Beauty Escorts in Amsterdam</a>
    <a href="#" class="text-red">Amsterdam Escort</a>
    <a href="#" class="text-red">topcompanions.com</a>
    <a href="#" class="text-red">Elite Escort Amsterdam</a>
    <a href="#" class="text-red">Frankfurt Escorts</a>
    <a href="#" class="text-red">Best Escort Sites</a>
    <a href="#" class="text-red">Escort List</a>
    <a href="#" class="text-red">Escort White List</a>
    <a href="#" class="text-red">Escortreal</a>
    <a href="#" class="text-red">LiveCams</a>
    <a href="#" class="text-red">Babylon Girls London</a>
    <a href="#" class="text-red">Elite London Escorts</a>
    <a href="#" class="text-red">Escort Amsterdam</a>
    <a href="#" class="text-red">Select An Escort</a>
    <a href="#" class="text-red">Luxury Escorts</a>
    <a href="#" class="text-red">London Deluxe</a>
  </div>

  <div data-spollers="769,max" class="flex items-start py-1 px-[9px] gap-x-3 border-[1px] border-red border-solid">

    <div class="flex flex-auto items-start md:items-center gap-x-3 flex-col md:flex-row">
      <div data-spoller class="flex items-center gap-x-3">
        <h3 class="text-[14px] leading-[29px] text-black font-bold whitespace-nowrap">Quick Search</h3>

        <div class="w-full max-w-[31px] rotate-90 md:rotate-0">
          <img src="./img/header/arrow.png" alt="arrow">
        </div>
      </div>

      <div class="flex-auto pt-1 md:pt-0">
        <form action="#" method="post" class="flex flex-wrap md:flex-nowrap h-full items-center gap-1 flex-auto">
          <select name="country" id="country-select"
            class="md:w-full text-[12px] p-[2px] font-bold text-red border-[1px] border-gray">
            <option value="">Select Country</option>
            <option value="country-1">country 1</option>
            <option value="country-2">country 2</option>
            <option value="country-3">country 3</option>
            <option value="country-x">country x</option>
          </select>

          <select name="" id=""
            class="md:w-full min-w-[100px] text-[12px] p-[2px] font-bold text-red border-[1px] border-gray">
            <option value=""></option>
          </select>

          <select name="city" id="city-select"
            class="md:w-full text-[12px] p-[2px] font-bold text-red border-[1px] border-gray">
            <option value="">Enter City</option>
            <option value="city-1">city 1</option>
            <option value="city-2">city 2</option>
            <option value="city-3">city 3</option>
            <option value="city-x">city x</option>
          </select>

          <select name="type" id="type-select"
            class="md:w-full text-[12px] p-[2px] font-bold text-red border-[1px] border-gray">
            <option value="">Select Escort Type</option>
            <option value="type-1">type 1</option>
            <option value="type-2">type 2</option>
            <option value="type-3">type 3</option>
            <option value="type-x">type x</option>
          </select>

          <button class="bg-transparent">
            <img src="./img/header/go.png" alt="">
          </button>
        </form>
      </div>
    </div>

    <div class="flex items-center mt-2">
      <img src="./img/header/advanced-search.jpg" alt="">
      <a href="#" class="text-blue underline text-[12px] leading-[14px] whitespace-nowrap">Advanced Search</a>
    </div>


  </div>
</header>