<header class="py-2 mb-[20px]">
  <div class="flex justify-between mb-2">
    <div class="w-full max-w-[262px]">
      <img class="w-full" src="./img/header/logo.png" alt="Logo">
    </div>

    <div class="w-full max-w-[468px]">
      <img class="w-full" src="./img/header/468x60Legendary.jpg" alt="468x60Legendary">
    </div>
  </div>

  <nav class="flex mb-2 items-center bg-[url('../img/header/nav-bg.jpg')] bg-repeat-x">
    <a href="#"
      class="uppercase border-r-[1px] border-r-pink-dark font-semibold text-[12px] leading-[14px] py-2 px-[14px] text-white hover:text-yellow hover:bg-black">
      Reg
    </a>

    <a href="#"
      class="uppercase border-r-[1px] border-r-pink-dark font-semibold text-[12px] leading-[14px] py-2 px-[14px] text-white hover:text-yellow hover:bg-black">
      New
    </a>

    <a href="#"
      class="uppercase border-r-[1px] border-r-pink-dark font-semibold text-[12px] leading-[14px] py-2 px-[14px] text-white hover:text-yellow hover:bg-black">
      All
    </a>

    <a href="#"
      class="uppercase border-r-[1px] border-r-pink-dark font-semibold text-[12px] leading-[14px] py-2 px-[14px] text-white hover:text-yellow hover:bg-black">
      AGENCS
    </a>

    <a href="#"
      class="uppercase border-r-[1px] border-r-pink-dark font-semibold text-[12px] leading-[14px] py-2 px-[14px] text-yellow hover:bg-black">
      Agency Allure
    </a>

    <a href="#"
      class="uppercase border-r-[1px] border-r-pink-dark font-semibold text-[12px] leading-[14px] py-2 px-[14px] text-yellow hover:bg-black">
      Mavrin Sugar Babes
    </a>

    <a href="#"
      class="uppercase border-r-[1px] border-r-pink-dark font-semibold text-[12px] leading-[14px] py-2 px-[14px] text-yellow hover:bg-black">
      Top Companions
    </a>

    <a href="#"
      class="uppercase border-r-[1px] border-r-pink-dark font-semibold text-[12px] leading-[14px] py-2 px-[14px] text-yellow hover:bg-black">
      Live Sex
    </a>

    <a href="#"
      class="uppercase border-r-[1px] border-r-pink-dark font-semibold text-[12px] leading-[14px] py-2 px-[14px] text-yellow hover:bg-black">
      Blog
    </a>

    <a href="#"
      class="uppercase border-r-[1px] border-r-pink-dark font-semibold text-[12px] leading-[14px] py-2 px-[14px] text-white hover:text-yellow hover:bg-black">
      Ad
    </a>

    <a href="#"
      class="uppercase border-r-[1px] border-r-pink-dark font-semibold text-[12px] leading-[14px] py-2 px-[14px] text-white hover:text-yellow hover:bg-black">
      Log
    </a>
  </nav>

  <div
    class="flex flex-wrap justify-center gap-x-[5px] gap-y-[6px] mb-[6px] text-[12px] leading-[14px] text-red font-bold">
    <a href="#">Rachaels London Escorts</a>
    <a href="#">Escort Amsterdam</a>
    <a href="#">Den Haag Escort</a>
    <a href="#">Escort Rotterdam</a>
    <a href="#">London escorts</a>
    <a href="#">Beauty Escorts in Amsterdam</a>
    <a href="#">Amsterdam Escort</a>
    <a href="#">topcompanions.com</a>
    <a href="#">Elite Escort Amsterdam</a>
    <a href="#">Frankfurt Escorts</a>
    <a href="#">Best Escort Sites</a>
    <a href="#">Escort List</a>
    <a href="#">Escort White List</a>
    <a href="#">Escortreal</a>
    <a href="#">LiveCams</a>
    <a href="#">Babylon Girls London</a>
    <a href="#">Elite London Escorts</a>
    <a href="#">Escort Amsterdam</a>
    <a href="#">Select An Escort</a>
    <a href="#">Luxury Escorts</a>
    <a href="#">London Deluxe</a>
  </div>

  <div class="flex py-1 px-[9px] gap-x-3 border-[1px] border-red border-solid">
    <h3 class="text-[14px] leading-[29px] text-black font-bold">Quick Search</h3>

    <div class="w-full max-w-[31px]">
      <img src="./img/header/arrow.png" alt="arrow">
    </div>

    <form action="#" method="post" class="flex items-center gap-x-[4px] flex-auto">
      <select name="country" id="country-select"
        class="w-full text-[12px] p-[2px] font-bold text-red border-[1px] border-gray">
        <option value="">Select Country</option>
        <option value="country-1">country 1</option>
        <option value="country-2">country 2</option>
        <option value="country-3">country 3</option>
        <option value="country-x">country x</option>
      </select>

      <select name="" id="" class="w-full text-[12px] p-[2px] font-bold text-red border-[1px] border-gray">
        <option value=""></option>
      </select>

      <select name="city" id="city-select"
        class="w-full text-[12px] p-[2px] font-bold text-red border-[1px] border-gray">
        <option value="">Enter City</option>
        <option value="city-1">city 1</option>
        <option value="city-2">city 2</option>
        <option value="city-3">city 3</option>
        <option value="city-x">city x</option>
      </select>

      <select name="type" id="type-select"
        class="w-full text-[12px] p-[2px] font-bold text-red border-[1px] border-gray">
        <option value="">Select Escort Type</option>
        <option value="type-1">type 1</option>
        <option value="type-2">type 2</option>
        <option value="type-3">type 3</option>
        <option value="type-x">type x</option>
      </select>

      <button>
        <img src="./img/header/go.png" alt="">
      </button>
    </form>

    <div class="flex items-center">
      <img src="./img/header/advanced-search.jpg" alt="">
      <a href="#" class="text-blue underline text-[12px] leading-[14px]">Advanced Search</a>
    </div>


  </div>
</header>