<div class="_container">
  <div
    class="flex flex-wrap gap-x-1 gap-y-1 text-[12px] leading-[13px] border-[1px] border-solid border-red p-2 mb-[15px]">
    <a href="#" class="text-blue underline">Independent escorts</a> |
    <a href="#" class="text-blue underline">Escort Girls Amsterdam</a> |
    <a href="#" class="text-blue underline">Escort Girls Berlin</a> |
    <a href="#" class="text-blue underline">Escort Girl in London</a> |
    <a href="#" class="text-blue underline">Escort Girl New York</a> |
    <a href="#" class="text-blue underline">Escort Girls Frankfurt</a> |
    <a href="#" class="text-blue underline">UK Escorts</a> |
    <a href="#" class="text-blue underline">Germany Escorts</a> |
    <a href="#" class="text-blue underline">Netherlands Escorts</a> |
    <a href="#" class="text-blue underline">Male Escorts</a> |
    <a href="#" class="text-blue underline">Female Escorts</a> |
    <a href="#" class="text-blue underline">Fetish Escorts</a> |
    <a href="#" class="text-blue underline">Blonde Escorts</a> |
    <a href="#" class="text-blue underline">Brunette Escorts</a> |
    <a href="#" class="text-blue underline">BBW Escorts</a> |
    <a href="#" class="text-blue underline">Black Escorts</a> |
    <a href="#" class="text-blue underline">TV/TS Escorts</a> |
    <a href="#" class="text-blue underline">Mature Escorts</a> |
    <a href="#" class="text-blue underline">Busty Escorts</a> |
    <a href="#" class="text-blue underline">Oriental Escorts</a>
  </div>
</div>