<div class="flex flex-col w-full max-w-[208px]">

  <div class="border-dark border-[1px] border-solid">
    <h4 class="text-[19px] leading-[21px] w-full px-3 py-2 text-white font-bold bg-dark mb-[3px]">Escorts / Live
      Cams</h4>

    <ul class="border-dark border-t-[1px] border-solid p-2 flex flex-col gap-y-[4px]">
      <li class="flex items-center text-[12px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-blue underline">Independ. Escorts</a>
          <span class="text-red-dark">/</span>
          <a href="#" class="text-red-dark underline font-bold">Ava Cams</a>
        </div>
      </li>
      <li class="flex items-center text-[12px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-blue underline">Agency Escorts</a>
          <span class="text-red-dark">/</span>
          <a href="#" class="text-red-dark underline font-bold">Ava Cams</a>
        </div>
      </li>
      <li class="flex items-center text-[12px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-blue underline">USA Escorts</a>
          <span class="text-red-dark">/</span>
          <a href="#" class="text-red-dark underline font-bold">US Live Cams</a>
        </div>
      </li>
      <li class="flex items-center text-[12px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-blue underline">UK Escorts</a>
          <span class="text-red-dark">/</span>
          <a href="#" class="text-red-dark underline font-bold">UK Live Cams</a>
        </div>
      </li>
      <li class="flex items-center text-[12px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-blue underline">Germany Escorts</a>
          <span class="text-red-dark">/</span>
          <a href="#" class="text-red-dark underline font-bold">Live Cams</a>
        </div>
      </li>
      <li class="flex items-center text-[12px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-blue underline">Netherlands Escorts</a>
          <span class="text-red-dark">/</span>
          <a href="#" class="text-red-dark underline font-bold">Cams</a>
        </div>
      </li>
      <li class="flex items-center text-[12px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-blue underline">Male Escorts</a>
          <span class="text-red-dark">/</span>
          <a href="#" class="text-red-dark underline font-bold">Boy Cams</a>
        </div>
      </li>
      <li class="flex items-center text-[12px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-blue underline">Female Escorts</a>
          <span class="text-red-dark">/</span>
          <a href="#" class="text-red-dark underline font-bold">Girl Cams</a>
        </div>
      </li>
      <li class="flex items-center text-[12px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-blue underline">High Class</a>
          <span class="text-red-dark">/</span>
          <a href="#" class="text-red-dark underline font-bold">VIP Live Cams</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="border-dark border-[1px] border-solid">
    <h4 class="text-[19px] leading-[21px] w-full px-3 py-2 text-white font-bold bg-dark mb-[3px]">Escorts / Live
      Cams</h4>

    <ul class="border-dark border-t-[1px] border-solid p-2 flex flex-col gap-y-[1px]">
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">Anda</a> - 31 Yrs., France
        </div>
      </li>
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">Alexandra</a> - 40 Yrs., United Kingdom
        </div>
      </li>
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">Sandra</a> - 33 Yrs., United Kingdom
        </div>
      </li>
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">Jasmine Cleopatra</a> - 28 Yrs., United States
        </div>
      </li>
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">Annabelle</a> - 32 Yrs., Germany
        </div>
      </li>
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">ts bella</a> - 22 Yrs., United Kingdom
        </div>
      </li>
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">Ivy</a> - 24 Yrs., United Kingdom
        </div>
      </li>
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">Raylin Monique</a> - 36 Yrs., United States
        </div>
      </li>
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">sunkist</a> - 27 Yrs., United States
        </div>
      </li>
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">Fenna</a> - 35 Yrs., Netherlands
        </div>
      </li>
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">Isabelle</a> - 26 Yrs., Germany
        </div>
      </li>
      <li class="flex items-center text-[11px] leading-[14px] gap-x-[4px]">
        <span class="inline-block w-full max-w-[10px] h-[7px]">
          <img class="w-full" src="./img/arrow1.jpg" alt="">
        </span>
        <div>
          <a href="#" class="text-red-dark underline font-bold">itssjustAC</a> - 24 Yrs., United Kingdom
        </div>
      </li>

    </ul>

    <ul class="flex flex-col gap-y-3"></ul>
  </div>

</div>