<div class="flex flex-col w-full sm:max-w-[208px]" data-spollers="641,max" data-one-spoller>
  <div>
    <h4 data-spoller class="text-[19px] text-center leading-[21px] w-full p-2 text-white font-bold bg-dark mb-[3px]">
      Escorts /
      Live Cams
    </h4>

    <div>
      <ul class="p-2 flex flex-col gap-y-[4px]">
        <li class="flex items-start text-[12px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline">Independ. Escorts</a>
            <span class="text-red-dark">/</span>
            <a href="#" class="text-red-dark underline font-bold">Ava Cams</a>
          </div>
        </li>
        <li class="flex items-start text-[12px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline">Agency Escorts</a>
            <span class="text-red-dark">/</span>
            <a href="#" class="text-red-dark underline font-bold">Ava Cams</a>
          </div>
        </li>
        <li class="flex items-start text-[12px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline">USA Escorts</a>
            <span class="text-red-dark">/</span>
            <a href="#" class="text-red-dark underline font-bold">US Live Cams</a>
          </div>
        </li>
        <li class="flex items-start text-[12px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline">UK Escorts</a>
            <span class="text-red-dark">/</span>
            <a href="#" class="text-red-dark underline font-bold">UK Live Cams</a>
          </div>
        </li>
        <li class="flex items-start text-[12px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline">Germany Escorts</a>
            <span class="text-red-dark">/</span>
            <a href="#" class="text-red-dark underline font-bold">Live Cams</a>
          </div>
        </li>
        <li class="flex items-start text-[12px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline">Netherlands Escorts</a>
            <span class="text-red-dark">/</span>
            <a href="#" class="text-red-dark underline font-bold">Cams</a>
          </div>
        </li>
        <li class="flex items-start text-[12px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline">Male Escorts</a>
            <span class="text-red-dark">/</span>
            <a href="#" class="text-red-dark underline font-bold">Boy Cams</a>
          </div>
        </li>
        <li class="flex items-start text-[12px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline">Female Escorts</a>
            <span class="text-red-dark">/</span>
            <a href="#" class="text-red-dark underline font-bold">Girl Cams</a>
          </div>
        </li>
        <li class="flex items-start text-[12px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline">High Class</a>
            <span class="text-red-dark">/</span>
            <a href="#" class="text-red-dark underline font-bold">VIP Live Cams</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h4 data-spoller class="text-[19px] text-center leading-[21px] w-full p-2 text-white font-bold bg-dark mb-[3px]">
      Independent
      Escorts
    </h4>

    <div>
      <ul class="p-2 flex flex-col gap-y-[1px]">
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">Anda</a> - 31 Yrs., France</div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">Alexandra</a> - 40 Yrs., United Kingdom</div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">Sandra</a> - 33 Yrs., United Kingdom</div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">Jasmine Cleopatra</a> - 28 Yrs., United States
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">Annabelle</a> - 32 Yrs., Germany</div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">ts bella</a> - 22 Yrs., United Kingdom</div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">Ivy</a> - 24 Yrs., United Kingdom</div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">Raylin Monique</a> - 36 Yrs., United States</div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">sunkist</a> - 27 Yrs., United States</div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">Fenna</a> - 35 Yrs., Netherlands</div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">Isabelle</a> - 26 Yrs., Germany</div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div><a href="#" class="text-red-dark underline font-bold">itssjustAC</a> - 24 Yrs., United Kingdom</div>
        </li>
      </ul>

      <ul
        class="grid grid-cols-[repeat(auto-fit,minmax(150px,1fr))] md:flex flex-col justify-center gap-y-3 gap-x-2 px-2">
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-1.jpg" alt="" />
          </a>
        </li>

        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-2.jpg" alt="" />
          </a>
        </li>

        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-3.jpeg" alt="" />
          </a>
        </li>

        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-4.jpg" alt="" />
          </a>
        </li>

        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-5.jpg" alt="" />
          </a>
        </li>

        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-6.gif" alt="" />
          </a>
        </li>

        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-7.jpg" alt="" />
          </a>
        </li>

        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-8.jpg" alt="" />
          </a>
        </li>

        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-9.jpg" alt="" />
          </a>
        </li>

        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-10.jpg" alt="" />
          </a>
        </li>

        <li>
          <div
            class="h-full flex flex-col items-center bg-[url('../img/sidebar/bg-11.jpg')] bg-no-repeat py-[2px] px-2">
            <div class="w-full max-w-[140px] border-[1px] border-black border-solid">
              <img class="w-full h-full" src="./img/sidebar/img-11.jpg" alt="" />
            </div>
            <h4 class="text-center font-extrabold text-[12px] leading-[14px] text-white mb-4">Tie me up in latex!</h4>
            <button
              class="text-white font-extrabold text-[16px] leading-[20px] w-full cursor-pointer border-[1px] border-white border-solid uppercase py-1 px-2 bg-transparent transition-hover hover:border-black hover:bg-black">Click
              here</button>
          </div>
        </li>

        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-12.gif" alt="" />
          </a>
        </li>
      </ul>

      <ul class="p-2 flex flex-col gap-y-[1px]">
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Maria007</a>
            <span>- 28 Yrs., France</span>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Mary</a>
            <span>- 25 Yrs., Viet Nam</span>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Isabelle</a>
            <span>- 27 Yrs., United Kingdom</span>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Marina</a>
            <span>- 27 Yrs., France</span>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Roselle Rossini</a>
            <span>- 28 Yrs., United Kingdom</span>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Polina</a>
            <span>- 40+ Yrs., Georgia</span>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Isabella Ilovana</a>
            <span>- 30 Yrs., Colombia</span>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Daisydaize23</a>
            <span>- 24 Yrs., United States</span>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Lisa</a>
            <span>- 25 Yrs., United States</span>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Faina</a>
            <span>- 28 Yrs., Russia</span>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Mahikhan</a>
            <span>- 24 Yrs., United Arab Emirates</span>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div>
            <a href="#" class="text-blue underline font-bold">Heema Khan</a>
            <span>- 25 Yrs., United Arab Emirates</span>
          </div>
        </li>
        <li class="flex items-start text-[12px] leading-[13px] gap-x-[4px] mt-1">
          <div>
            <a href="#" class="text-blue underline font-bold">All Independent Escorts »</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h4 data-spoller class="text-[19px] text-center leading-[21px] w-full p-2 text-white font-bold bg-dark mb-[3px]">
      Escorts / Live
      Cams
    </h4>

    <div>
      <ul class="p-2 flex flex-col gap-y-[1px]">
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-red-dark underline font-bold text-[12px] leading-[16px]">VIPPARISA</a>
            <p>
              4 Girls Profiles<br />
              Paris / Ill de France, Paris
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-red-dark underline font-bold text-[12px] leading-[16px]">All Stars Escorts
              London</a>
            <p>
              60 Girls Profiles<br />
              Greater London, London
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-red-dark underline font-bold text-[12px] leading-[16px]">Babylon Girls</a>
            <p>
              43 Girls Profiles<br />
              Greater London, London
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-red-dark underline font-bold text-[12px] leading-[16px]">Amsterdam Escorts</a>
            <p>
              24 Girls Profiles<br />
              Noord Holland, Amsterdam
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-red-dark underline font-bold text-[12px] leading-[16px]">Amorette International</a>
            <p>
              16 Girls Profiles<br />
              Hessen, Frankfurt
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-red-dark underline font-bold text-[12px] leading-[16px]">Allure</a>
            <p>
              7 Girls Profiles<br />
              Greater London, London
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-red-dark underline font-bold text-[12px] leading-[16px]">Save the Date Escort</a>
            <p>
              12 Girls Profiles<br />
              Nordrhein-Westfalen, Düsseldorf
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-red-dark underline font-bold text-[12px] leading-[16px]">Sweet Passion Escort</a>
            <p>
              100 Girls Profiles<br />
              Nordrhein-Westfalen, Cologne
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-red-dark underline font-bold text-[12px] leading-[16px]">Aura Escort</a>
            <p>
              7 Girls Profiles<br />
              Hessen, Frankfurt
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-red-dark underline font-bold text-[12px] leading-[16px]">Beauty Escorts
              Amsterdam</a>
            <p>
              10 Girls Profiles<br />
              Noord Holland, Amsterdam
            </p>
          </div>
        </li>
      </ul>

      <ul class="grid grid-cols-[repeat(auto-fit,minmax(150px,1fr))] md:flex flex-col gap-y-3 px-2">
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-12.jpg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-2.jpg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-3.jpeg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-13.jpg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-14.jpg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-6.gif" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-7.jpg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-8.jpg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-9.jpg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-10.jpg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-10.jpg" alt="" />
          </a>
        </li>

        <li>
          <div class="flex flex-col items-center bg-[url('../img/sidebar/bg-11.jpg')] bg-no-repeat pt-[2px] px-2">
            <div class="w-full max-w-[140px] border-[1px] border-black border-solid">
              <img class="w-full h-full" src="./img/sidebar/img-11.jpg" alt="" />
            </div>
            <h4 class="text-center font-extrabold text-[12px] leading-[14px] text-white mb-4">Tie me up in latex!</h4>
            <button
              class="text-white font-extrabold text-[16px] leading-[20px] w-full cursor-pointer border-[1px] border-white border-solid uppercase py-1 px-2 bg-transparent transition-hover hover:border-black hover:bg-black">Click
              here</button>
          </div>
        </li>

        <li>
          <a href="#" class="w-full max-w-[180px]">
            <img class="w-full h-full" src="./img/sidebar/img-12.gif" alt="" />
          </a>
        </li>
      </ul>

      <ul class="p-2 flex flex-col gap-y-[1px]">
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-blue underline font-bold text-[12px] leading-[16px]">Diori Escort</a>
            <p>
              3 Girls Profiles <br />
              Berlin, Munich
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-blue underline font-bold text-[12px] leading-[16px]">Jessica’s Escort</a>
            <p>
              7 Girls Profiles <br />
              Zürich, Zurich
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-blue underline font-bold text-[12px] leading-[16px]">SP Escort Köln</a>
            <p>
              8 Girls Profiles <br />
              Nordrhein-Westfalen, Cologne
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-blue underline font-bold text-[12px] leading-[16px]">Reha Singh</a>
            <p>
              8 Girls Profiles <br />
              Dubayy, Dubai
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-blue underline font-bold text-[12px] leading-[16px]">Rossalina Escort Service</a>
            <p>
              1 Girls Profiles <br />
              Quintana Roo, Tulum
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-blue underline font-bold text-[12px] leading-[16px]">Escortss</a>
            <p>
              8 Girls Profiles <br />
              Greater London, London
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-blue underline font-bold text-[12px] leading-[16px]">Elite After Hours London</a>
            <p>
              1 Girls Profiles <br />
              Central London, London
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-blue underline font-bold text-[12px] leading-[16px]">Escorts Luxe</a>
            <p>
              3 Girls Profiles <br />
              Madrid, Madrid
            </p>
          </div>
        </li>
        <li class="flex items-start text-[11px] leading-[14px] gap-x-[4px]">
          <span class="inline-block w-full max-w-[10px] h-[7px] mt-1">
            <img class="w-full h-full" src="./img/arrow1.jpg" alt="" />
          </span>
          <div class="flex flex-col">
            <a href="#" class="text-blue underline font-bold text-[12px] leading-[16px]">Escort Amsterdam Darlings of
              Nicole</a>
            <p>
              3 Girls Profiles <br />
              Noord Holland, Amsterdam
            </p>
          </div>
        </li>
        <li class="flex items-start text-[12px] leading-[13px] gap-x-[4px] mt-1">
          <div>
            <a href="#" class="text-blue underline font-bold">All Escort Agencies »</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>